{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/styles.css">
{% endblock %}
{% block title %}
    Pacil Gag: Pacilians Daily Meme Supply
{% endblock %}

{% block body %}
    <div class="text-placeholder">
        <ul class="texts">
            <li id="welcome">Welcome to Pacil-GAG</li>
            <li id="created">Created by Mario Serano</li>
            <li id="collab">In Collaboration with COMPFEST's Amazing Team</li>
            <li id="hint">Hint: Click 'Discover' to Discover some Awesome memes ;)</li>
        </ul>
    </div>
{% endblock %}